<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Book store</h3>
    <a href="{% url 'addbook' %}"><button>Add Book</button></a>
    <a href="{% url 'logout' %}"><button>Logout</button></a>
    <br>
    <hr>
    {% for i in data %}
    <br>
    <br>
    {% if i.image %}
        <img src="{{i.image.url}}" width="100px" height="100px">
    {%else%}
     nil
    {% endif %}
    <br>
    Title:
    {{i.title}}
    <br>
    Author:
    {{i.author}}
    <br>
    Price:
    {{i.price}}
    <br>
    Descrption :
    {{i.description}}
    <br>
    Category :
    {{i.category}}
    <br>
    <a href="{% url 'editbook' id=i.id %}">Edit</a>
    <a href="{% url 'deletebook' id=i.id %}">Delete</a>
    <br>
    {% endfor %}

</body>
</html>